name = "ds-post-purchase-upsell"
type = "checkout_post_purchase"
uid = "fdd72033-43d5-7e29-a3b8-9fd34786c51b05bf5671"

# [[metafields]]
# namespace = "my-namespace"
# key = "my-key"

# [[metafields]]
# namespace = "my-namespace"
# key = "my-key-2"
